  @font-face {
  font-family: "godzilla";
  src: url("../Font/Godzilla.ttf");
}

@font-face {
  font-family: "godzillamoviefont";
  src: url("../Font/GodzillaMoviefont-pp4R.ttf");
}

html {
  scroll-behavior: smooth;
}


/* hero : start */
#hero #zillaExiled {
  font-family: "godzilla";
  column-gap: 0.5rem;
  font-size: 2rem;
  text-shadow: 1px 5px black;
}

#hero #nation {
  font-family: "godzilla";
  font-size: 4.5rem;
  text-shadow: 1px 5px black;
  color: #39ff9f;
  margin-top: -1.5rem;
}

#hero #connect {
  background: white;
  color: black;
  width: fit-content;
  margin-top: -1.5rem;
}
#general {
  font-family: "godzilla" !important;
  
  text-shadow: 1px 5px black;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #hero #zillaExiled {
    font-family: "godzilla";
    column-gap: 0.5rem;
    font-size: 3rem;
    text-shadow: 1px 5px black;
  }

  #hero #nation {
    font-size: 8rem;
    margin-top: -2.5rem;
  }

  #hero #connect {
    margin-top: -3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #hero #nation {
    font-size: 10rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*  */
}
/* hero : end */

/* introducing : start */
#introducing-zilla {
  background: black;
}
#introducing-zilla h2 {
  font-family: "godzilla";
  font-size: 3rem;
}

#introducing-zilla .row {
  row-gap: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #introducing-zilla h2 {
    font-size: 4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*  */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*  */
}
/* introducing : end */

/* team : start */
#team h2 {
  font-family: "godzilla";
  font-size: 3rem;
  color: white;
}

#team .row {
  row-gap: 1.5rem;
}

#team a.active {
  background: transparent;
  border-color: transparent;
}

#team a:hover {
  /* background: transparent; */
  border-color: transparent;
}

#team .nav-tabs {
  border-bottom: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #team h2 {
    font-size: 4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*  */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*  */
}
/* team : end */

/* faq : start */
#faq {
  background-color: black;
}

#faq h2 {
  font-family: "godzilla";
  font-size: 4rem;
  color: white;
}

#faq .row {
  row-gap: 1rem;
}

#faq #count {
  background-color: #37ff9f;
  width: 5rem;
  border-left: solid 10px #25ad6b;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #faq #count {
    width: 8rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #faq #count {
    width: 10rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*  */
}
/* faq : end */

/* roadmap : start */
#roadmap h2 {
  font-family: "godzilla";
  font-size: 3rem;
}

#roadmap #text-content {
  top: 2.5rem;
  left: 4rem;
  right: 0;
}

#roadmap #text-content-2 {
  top: 2.5rem;
  left: 4rem;
  right: 0;
}

#roadmap #line-1 {
  width: 0.5rem;
  height: 50%;
  background: #39ff9f;
  left: 1.5rem;
  bottom: 0;
}

#roadmap #line {
  width: 0.5rem;
  height: 100%;
  background: #39ff9f;
  left: 1.5rem;
}

#roadmap #line-last {
  width: 0.5rem;
  height: 50%;
  background: #39ff9f;
  left: 1.5rem;
  top: 0;
}

#roadmap #dot {
  background: white;
  width: 25px;
  height: 25px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  z-index: 2;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #roadmap h2 {
    font-size: 4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #roadmap #text-content {
    top: 0;
    left: 0;
    right: 0;
  }

  #roadmap #text-content-2 {
    top: 8rem;
    left: 0;
    right: 0;
  }

  #roadmap #line-1 {
    width: 50%;
    height: 0.5rem;
    background: #39ff9f;
    left: unset;
    bottom: unset;
    right: 0;
  }

  #roadmap #line {
    width: 100%;
    height: 0.5rem;
    background: #39ff9f;
    left: 0;
  }

  #roadmap #line-last {
    width: 50%;
    height: 0.5rem;
    background: #39ff9f;
    left: 0;
    top: unset;
  }

  #roadmap #dot {
    background: white;
    width: 25px;
    height: 25px;
    margin-top: 6rem;
    margin-bottom: 6rem;
    z-index: 2;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*  */
}
/* roadmap : end */
